NAME
	control - remote control an npc

SYNOPSIS
	control name

DESCRIPTION
	This is a simpler and more harmless version of the 'possess'
	command. With 'control' any wizard can get a so-called
	'controlling wand' for any noninteractive living in the game.

	The wand lets you 'snoop' all that happens to the living and
	give commands as the living. Commands are given with a leading
	'#' to differentiate them from your own commands.
	
	Unlike possess you can still give commands 'to yourself' as
	usual. There is no need to quit. The wand can be toggled on/off
	or utterly destructed.

	You can control multiple npc's at the same time with the syntax
	'#name#' leading your commands to the respective npc.

SEE ALSO
	possess
